<footer class="footer">
  <div class="container">
    <ul class="footer__logos o-list-bare">
      <li class="footer__logos__item">
        <div class="gray2color" href="#">
          <img src="{{assetsUrl}}/{{ assetPath('images/logos/ergo.jpg') }}" alt="Ergo Hestia" />
        </div>
      </li>
      <li class="footer__logos__item">
        <div class="gray2color" href="#">
          <img src="{{assetsUrl}}/{{ assetPath('images/logos/warta.png') }}" alt="Warta" />
        </div>
      </li>
      <li class="footer__logos__item">
        <div class="gray2color" href="#">
          <img src="{{assetsUrl}}/{{ assetPath('images/logos/hdi.png') }}" alt="HDI" />
        </div>
      </li>
      <li class="footer__logos__item">
        <div class="gray2color" href="#">
          <img src="{{assetsUrl}}/{{ assetPath('images/logos/compensa.jpg') }}" alt="Compensa" />
        </div>
      </li>
      <li class="footer__logos__item">
        <div class="gray2color" href="#">
          <img src="{{assetsUrl}}/{{ assetPath('images/logos/allianz.jpg') }}" alt="Allianz" />
        </div>
      </li>
      <li class="footer__logos__item">
        <div class="gray2color" href="#">
          <img src="{{assetsUrl}}/{{ assetPath('images/logos/generali.jpg') }}" alt="Generali" />
        </div>
      </li>
    </ul>
  </div>

  <div class="colorbar">
    <div class="colorbar__item colorbar__item--high u-bg-red"></div>
    <div class="colorbar__item colorbar__item--high u-bg-navy">
      <a class="colorbar__item-link" href="https://www.facebook.com/ubezpieczenia.pierzchala" target="_blank">Facebook</a>
    </div>
    <div class="colorbar__item colorbar__item--high u-bg-blue"></div>
  </div>
</footer>
